<h1>New Message</h1>

<form method="POST" action="/new">
    <label for="user">Your Name</label>
    <input type="text" name="user">
    <br>
    <label for="text">Your Message</label>
    <input type="text" name="text">
    <br>
    <input type="submit" value="Go!">
</form>